.first-container{
	background-color: blue;
	height: 200px;
	width: 200px;
	padding: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	}
.second-container{
	background-color: red;
	height: 200px;
	width: 200px;
	padding: 20px;
	position: absolute;
	left: 240px;
	top: 0px;

}
.third-container{
	background-color: yellow;
	height: 200px;
	width: 200px;
	padding: 20px;
	position: absolute;
	left: 480px;
	top: 0px;
}
